<p-toast></p-toast>

<div class="pa-home-wrapper">
  <!-- Hero -->
  <div class="pa-home-hero grid">
    <div>
      <h1>Penny<span>Art</span></h1>
      <h2>create<span>.</span>share<span>.</span>earn</h2>
    </div>
    <div>
      <img class="pa-hero--image" src="../../assets/images/image-10.png" />
    </div>
  </div>
  <div>
    <p-fileUpload
      class="pa-upload"
      name="doc"
      url="https://pa-api.azurewebsites.net/api/Doc/bob"
      (onUpload)="onUpload($event)"
    ></p-fileUpload>
  </div>
  <div class="grid">
    <div class="col-12">
      <div>
        <h2 class="a-heading">My Art</h2>
        <div class="col-6"></div>
      </div>
      <div class="grid">
        <div
          class="pa-nft-card"
          *ngFor="let item of images"
          style="margin: 1rem"
        >
          <p-image
            [src]="item.url"
            alt="Image"
            width="200"
            (click)="showDialog(item)"
          ></p-image>
          <div class="pa-nft-card--meta">
            <h3 class="c-subheading">Image title</h3>
            <p-button
              label="Send"
              styleClass="p-button-rounded p-button-outlined p-button-sm"
            ></p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col-12" *ngIf="upload">
      <div class="grid">
        <div class="col-6">
          <h2 class="a-heading">Inspired Arts</h2>
        </div>
      </div>
      <div class="grid">
        <div class="col-12">
          <div class="grid">
            <div
              class="pa-nft-card--inspired"
              *ngFor="let item of inspireimages"
              style="margin: 1rem"
            >
              <p-image
                [src]="item.url"
                alt="Image"
                width="200"
                (click)="showDialog(item)"
              ></p-image>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
  header="Send Greetings"
  [(visible)]="display"
  [modal]="true"
  [style]="{ width: '50vw', height: '50vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  #greetings
>
  <div class="grid">
    <div class="col-12 col-offset-3" *ngIf="selectedImage">
      <span>{{ selectedImage.name }}</span>
    </div>
  </div>
  <div class="grid">
    <div class="col-9 col-offset-3" *ngIf="selectedImage">
      <p-image
        [src]="selectedImage.url"
        alt="Image"
        width="300"
        height="300"
      ></p-image>
    </div>
  </div>
  <div class="grid">
    <div class="col-3 col-offset-3">
      <textarea
        placeholder="Enter greetings here"
        pInputTextarea
        [(ngModel)]="greetText"
        [rows]="5"
        [cols]="40"
      ></textarea>
    </div>
  </div>
  <div class="grid">
    <div class="col-3 col-offset-6">
      <button
        pButton
        type="button"
        label="Send Greetings"
        (click)="sendGreetings($event)"
      ></button>
    </div>
  </div>
</p-dialog>
